
*.xml
hw6_starter/build/classes/java/main/Main.class
hw6_starter/build/classes/java/main/model/Employer.class
hw6_starter/build/classes/java/main/model/Job.class
hw6_starter/build/resources/main/public/bottom.vm
hw6_starter/build/resources/main/public/css/jbapp.css
*.bin
*.bin
hw6_starter/JBApp.db
hw6_starter/build/resources/main/public/top.vm
hw6_starter/build/resources/main/public/js/employers.js
hw6_starter/build/resources/main/public/js/validate.js
hw6_starter/build/resources/main/public/index.vm
hw6_starter/build/resources/main/public/employers.vm
hw6_starter/.gradle/buildOutputCleanup/outputFiles.bin
*.lock
hw6_starter/.gradle/7.1/fileHashes/fileHashes.lock
hw6_starter/.gradle/7.1/fileHashes/fileHashes.bin
hw6_starter/.gradle/7.1/executionHistory/executionHistory.lock
hw6_starter/.gradle/7.1/executionHistory/executionHistory.bin
hw6_starter/JBApp.db
hw6_starter/build/resources/main/public/css/myjbapp.css
hw6_starter/.gradle/buildOutputCleanup/outputFiles.bin
hw6_starter/.gradle/buildOutputCleanup/buildOutputCleanup.lock
hw6_starter/.gradle/7.1/fileHashes/fileHashes.lock
hw6_starter/.gradle/7.1/fileHashes/fileHashes.bin
hw6_starter/.gradle/7.1/executionHistory/executionHistory.lock
hw6_starter/.gradle/7.1/executionHistory/executionHistory.bin
